{% extends 'pages/index.html' %}
{% load static %}
{% block content %}


<a href="http://127.0.0.1:8000/avoidance/" class="back"><i class="fa-solid fa-arrow-left"></i></a>
<table class="vr-table" border="1">

    <tr>
        <td>
            <img src="{% static 'media/art1.jpg' %}"> <br> <br>
            <h3> Water </h3> <br> <br>
            <p> MATUBIG </p>

        </td>
        <td>
            <img src="{% static 'media/art1.jpg' %}"> <br> <br>
            <h3> Trees </h3> <br> <br>
            <p> MGA PUNO </p>

        </td>
    <tr>
    <tr>
        <td>
            <img src="{% static 'media/art1.jpg' %}"> <br> <br>
            <h3> Cycling </h3> <br> <br>
            <p> Ikaw ay mag bike </p>

        </td>
        <td>
            <img src="{% static 'media/art1.jpg' %}"> <br> <br>
            <h3> Cycling </h3> <br> <br>
            <p> Ikaw ay mag bike </p>

        </td>
    <tr>

</table>

{% endblock %}