{% extends 'pages/index.html' %}
{% load static %}
{% block content %}

<a href="http://127.0.0.1:8000/avoidance/" class="back"><i class="fa-solid fa-arrow-left"></i></a>

<div class="exercise-container">

    <table class="exercise-container-table">

        <tr>
            <td>
                <div class="exercise-image">
                    <img src="/static/media/warmup.png" height="100" width="100">
                </div>
                <p> Stretching for 5 minutes </p>
            </td>
        </tr>

        <tr>
            <td>
                <div class="exercise-image">
                    <img src="/static/media/warmup1.png" height="100" width="100">
                </div>
                <p> Stretching for 5 minutes </p>
            </td>
        </tr>

        <tr>
            <td>
                <div class="exercise-image">
                    <img src="/static/media/pushup.png" height="100" width="100">
                </div>
                <p> Stretching for 5 minutes </p>
            </td>
        </tr>


    </table>

   

</div>


{% endblock %}