{% extends 'pages/index.html' %}
{% load static %}
{% block content %}


<body>
    <div class="category-container">
        <div class="category-box-container">
            <div class="category-box">
                <div class="category-image">
                    <img src="/static/media/problem.png" alt="">
                </div>
                <div class="category-content">
                    <h3>Problem-focused</h3>
                    <p>In contrast to emotion-focused coping, Van den Brande et al. (2020) describe problem-focused coping as the “attempt to control work stressors by defining and interpreting them, planning solutions, and choosing a course of action.” (p. 4).</p><br />
                    <a href="http://127.0.0.1:8000/problem/" class="category-btn"> View Activities </a>
                    <div class="category-icons">

                    </div>
                </div>
            </div>

            <div class="category-box">
                <div class="category-image">
                    <img src="/static/media/emotion.png" alt="">
                </div>
                <div class="category-content">
                    <h3>Emotion-focused</h3>
                    <p>This coping style involves reducing the emotions associated with a stressor while avoiding addressing the problem (Van den Brande et al., 2020).</p><br /><br />
                    <a href="http://127.0.0.1:8000/emotion/" class="category-btn"> View Activities </a>
                    <div class="category-icons">
                    </div>
                </div>
            </div>

            <div class="category-box">
                <div class="category-image">
                    <img src="/static/media/meaning.png" alt="">
                </div>
                <div class="category-content">
                    <h3>Meaning-focused</h3>
                    <p>This particular coping style employs cognitive strategies to process and make sense of the meaning of a situation (Algorani & Gupta, 2021).</p><br /><br />
                    <a href="http://127.0.0.1:8000/meaning/" class="category-btn"> View Activities </a>
                    <div class="category-icons">
                    </div>
                </div>
            </div>

            <div class="category-box">
                <div class="category-image">
                    <img src="/static/media/social.png" alt="">
                </div>
                <div class="category-content">
                    <h3>Social Coping</h3>
                    <p>When a person seeks emotional or instrumental support from the community, they are engaging in a social coping or support-seeking coping style (Algorani & Gupta, 2021).</p><br />
                    <a href="http://127.0.0.1:8000/social/" class="category-btn"> View Activities </a>
                    <div class="category-icons">
                    </div>
                </div>
            </div>

            <div class="category-box">
                <div class="category-image">
                    <img src="/static/media/avoidance.png" alt="">
                </div>
                <div class="category-content">
                    <h3>Avoidance-focused</h3>
                    <p>An avoidance coping style can be described as avoiding the stressor by pursuing an alternate person or task (Meyerson et al., 2022).</p><br />
                    <a href="http://127.0.0.1:8000/avoidance/" class="category-btn"> View Activities </a>
                    <div class="category-icons">
                    </div>
                </div>
            </div>
        </div>
  
</body>



{% endblock  %}