
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/css/all.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/all1.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Mood Calendar</title>
</head>
<body>

    <a href="http://127.0.0.1:8000/"><i class="fa-solid fa-arrow-left"></i></a>

    <div class="container">
        <h2>2024 Mood Calendar</h2>
        <h4>TypeCoders</h4>
        <p>Select mood:</p>
        <div class="moods_container">
            <button class="mood mood_1" id="mood_1">
                <i class="far fa-laugh"></i>
            </button>
            <button class="mood mood_2" id="mood_2">
                <i class="far fa-smile"></i>
            </button>
            <button class="mood mood_3" id="mood_3">
                <i class="far fa-meh"></i>
            </button>
            <button class="mood mood_4" id="mood_4">
                <i class="far fa-frown"></i>
            </button>
            <button class="mood mood_5" id="mood_5">
                <i class="far fa-sad-tear"></i>
            </button>
        </div>
        <p>then click on the circles below</p>
        <button id="randomize" class="action_btn randomize">
            <i class="fas fa-random"></i>
        </button>
        <button id="clear" class="action_btn clear">
            <i class="fas fa-sync"></i>
        </button>
        <div id="calendar" class="calendar"></div>
    </div>

</body>
</html>
{% endblock %}
<script>
    const currentYear = 2024;
    const weekDays = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];
    const months = [
        'January',
        'February',
        'March',
        'April',
        'May',
        'June',
        'July',
        'August',
        'September',
        'Octomber',
        'November',
        'December'
    ];
    const colors = ['#2d6b5f', '#72e3a6', '#dff4c7', '#edbf98', '#ea3d36'];
    const defaultColor = '#888';
    let activeColor = '';

    const calendar = document.getElementById('calendar');
    const moods = document.querySelectorAll('.mood');
    const randomize = document.querySelector('#randomize');
    const clear = document.querySelector('#clear');

    moods.forEach(mood => {
        mood.addEventListener('click', () => {
            // if is already selected, deselect it
            if (mood.classList.contains('selected')) {
                mood.classList.remove('selected');
                activeColor = defaultColor;
            } else {
                moods.forEach(mood => {
                    mood.classList.remove('selected');
                });

                mood.classList.add('selected');
                activeColor = getComputedStyle(mood).getPropertyValue('color');
            }
        });
    });

    const getAllDays = year => {
        // First day of the year - 1st January
        const firstDay = new Date(`January 1 ${year}`);
        // Last day of the year - 31th December - used to stop adding days to the array
        const lastDay = new Date(`December 31 ${year}`);

        // Add first day
        const days = [firstDay];

        // Used to keep track of the day
        let lastDayInArray = firstDay;

        // Loop while there are new days to be added in the current year
        while (lastDayInArray.getTime() !== lastDay.getTime()) {
            days.push(addDays(lastDayInArray, 1));
            lastDayInArray = days[days.length - 1];
        }

        return days;
    };

    const dates = getAllDays(currentYear);

    let monthsHTML = '';

    // Loop over the months and create a div for each month
    months.forEach((month, idx) => {
        monthsHTML += `<div class="months month_${idx}">
        <h3>${month}</h3>
        <div class="week_days_container">
            ${weekDays
                .map(day => `<div class="week_days">${day}</div>`)
                .join('')}
        </div>
        <div class="days_container"></div>
    </div>`;
    });

    calendar.innerHTML = monthsHTML;

    // Loop over each day and
    dates.forEach(date => {
        const month = date.getMonth();
        const monthEl = document.querySelector(`.month_${month} .days_container`);

        // create extra day slots if needed before day 1
        if (date.getDate() === 1 && date.getDay() !== 0) {
            for (let i = 0; i < date.getDay(); i++) {
                const emptySpot = createEmptySpot();

                monthEl.appendChild(emptySpot);
            }
        }

        const dateEl = createDateEl(date);

        monthEl.appendChild(dateEl);
    });

    // Add click event to all the .circles
    const circles = document.querySelectorAll('.circle');
    circles.forEach(circle => {
        circle.addEventListener('click', () => {
            circle.style.backgroundColor = activeColor;
        });
    });

    // Randomize functionality
    randomize.addEventListener('click', () => {
        circles.forEach(circle => {
            circle.style.backgroundColor = getRandomColor();
        });
    });

    // Clear functionality
    clear.addEventListener('click', () => {
        circles.forEach(circle => {
            circle.style.backgroundColor = defaultColor;
        });
    });

    function getRandomColor() {
        return colors[Math.floor(Math.random() * 5)];
    }

    function createDateEl(date) {
        const day = date.getDate();
        const dateEl = document.createElement('div');
        dateEl.classList.add('days');
        dateEl.innerHTML = `<span class="circle">${day}</span>`;

        return dateEl;
    }

    function createEmptySpot() {
        const emptyEl = document.createElement('div');
        emptyEl.classList.add('days');

        return emptyEl;
    }

    // function from StackOverflow: https://stackoverflow.com/questions/563406/add-days-to-javascript-date
    function addDays(date, days) {
        var result = new Date(date);
        result.setDate(result.getDate() + days);
        return result;
    }
</script>

