{% extends 'pages/index.html' %}
{% load static %}
{% block content %}


<div class="avoidance-container">
    <h1> Social Coping </h1>
    <a href="http://127.0.0.1:8000/category/"><i class="fa-solid fa-arrow-left"></i></a>
    <div class="avoidance-box-container">
        <div class="avoidance-box">
            <div class="avoidance-image">
                <img src="/static/media/onlinecom.png" alt="">
            </div>
            <div class="avoidance-content">
                <h3>Online Community</h3>
                <p>
                    Online communities centered around anxiety serve as invaluable platforms where individuals can find solace, understanding, and practical advice in navigating the complexities of living with anxiety. These digital spaces foster a sense of belonging and connection among members who share similar struggles, offering a supportive environment where experiences can be shared openly without fear of judgment. Through discussion forums, chat groups, and virtual events, members can exchange coping strategies, recommend helpful resources, and provide emotional support to one another, creating a sense of solidarity in the journey towards managing and overcoming anxiety.
                </p><br />
                <a href="http://127.0.0.1:8000/avoidance1/" class="avoidance-btn"> View Activities </a>
                <div class="avoidance-icons">
                </div>
            </div>
        </div>

    </div>
</div>

        {% endblock  %}
